@model IEnumerable<GarageOnWheelsMVC.Models.Order>

@{
    ViewData["Title"] = "Service Details";

}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-secondary" href="@Url.Action("Create", "Order")"> + ORDER</a>
        </div>
    </div>
    <div class="table-responsive">
        @Html.Partial("_OrderListPartial", Model)

    </div>

</div>
